.intro {
  width: 1200px;
  height: 200px;
  margin-bottom: 20px;
  padding: 100px;
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0%, center top;
}

.intro-logo {
    margin-top: 0px;
}

.intro-text {
  margin-top: 20px;
  margin-left: 400px;
  color: white;
}

@media (max-width: 960px) {
  .intro {
    display: none;
  }
}
